a{
text-decoration: none;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.section-head{
color: #000;
text-align: center;
margin-bottom: 40px;
}
.section h2.section-head:after{
background: #e74c3c;
content: "";
display: block;
width: 100px;
height: 3px;
margin: 20px auto;
}

#header{
    color: white;
    background: #e74c3c;
}
#logo{
    font-size: 2rem;
    margin-top: 5px;
}
#manu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#manu li {
   display: inline-block;
}
#manu li a{
    color: white;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
    

}
#manu li a:hover{
    background: #c0392b;
}
/* Banner Starts */
#banner{
    background: url('./imgs/banner.jpg') no-repeat 0,0;
    background-size: cover;
}
.banner-title{
    padding-top: 5rem;
}
.banner-title h1{
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead{
    color: white;
    background: rgba(231, 76, 60, 0.7);
    padding: 10px;
}

/* services section starts */
.service-box{
text-align: center;
}

.service-box i.fa{
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 15px;

}
/* Testmonial section start */
#testmonials{
    color: white;
    background: url("./imgs/post3.jpg") no-repeat 0 0;
    background-size: cover;
     padding: 50px 0;
     position: relative;
}

/* news section starts */
.news-post{
    font-size: 1.35rem;
}

.news-post h3 a{
    color: #e74c3c;
}
.post-date{
    font-size: 15px;
    margin-bottom: 2px;
}
.post-date:before{
    content: "\f073";
    font-family: fontawesome;
    padding-right: 5px;
}
.readmore{
    font-size: 15px;
    color: #e74c3c;
}
.readmore::after{
    content: "\f101";

    font-family: fontawesome;
    padding-left: 5px;

}
/* Footer section starts */
#footer-sidebar{
    color: white;
    background-color: #34495e;
    padding: 20px 0;
}
/* .footer-widget h4:after{
    background: black;
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px auto;
    } */
    .footer-widget a{
        color: white;
    }
    .latest-news{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .latest-news li{
        margin-bottom: 3px;
    }
    .latest-news li:before{
        content: "\f101";

    font-family: fontawesome;
    padding-right: 5px;
    }
    #footer{
        color: white;
    background-color: #2c3e50;
    padding: 10px 0;
    }
   